body{
    background-color: #757575;
}
.texto-destaque{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: #C62828;
    padding-bottom: 1.4em;
}
.pokemon-nome{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    color: #1B5E20;
    padding-bottom: 1.1em;
}
.lista{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: black;
}
.lista li{
    display: inline-block;
    margin: 2em;
}
.lista{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: black;
}
.lista-todos li{
    list-style: none;
    padding-bottom: 0.5em;
}
.result-box{
    background-color: white;
    width: 40%;
    box-shadow: 1px 1px 1px black;
    position: relative;
    margin: auto;
    text-align: center;
}
.img-box{
    width: 150px;
    height: 150px;
    border: 2px dotted #ccc;
}

.btn-page{

    margin-top: 2em;
    font-size: 1.0em;
    color: white;
    background-color: #C62828;

}
.btn-home{

    margin-top: 1.8em;
    font-size: 1.5em;
    color: white;
    background-color: #0277BD;

}

.spinner{

	-webkit-animation: rotation 1s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}